 .collapse .navbar-nav {

     list-style: none;




 }

 .collapse .navbar-nav .nav-item {


     padding: 12px;
     font: 16px "Comphor Pro", sans-serif;

 }




 .collapse .nav-right {

     list-style: none;




 }

 .collapse .nav-right .nav-item {


     padding: 12px;
     font: 16px "Comphor Pro", sans-serif;

 }








 .navbar-nav .nav-item .nav-link .fa-user {


     margin-left: 10px;




 }

 .navbar-nav .nav-item .nav-link .fa-magnifying-glass {



     margin-left: 10px;

 }



 /* content style start */


 .one-heading {

     font: 24px sans-serif;
     margin: 48px 0px 48px;
     font-weight: 600;

     color: #191919;

 }


 .content-items .content-one-item {

     border: none;

 }




 /* content styles end */