 .collapse .navbar-nav {

     list-style: none;




 }

 .collapse .navbar-nav .nav-item {


     padding: 12px;
     font: 16px "Comphor Pro", sans-serif;

 }




 .collapse .nav-right {

     list-style: none;




 }

 .collapse .nav-right .nav-item {


     padding: 12px;
     font: 16px "Comphor Pro", sans-serif;

 }








 .navbar-nav .nav-item .nav-link .fa-user {


     margin-left: 10px;




 }

 .navbar-nav .nav-item .nav-link .fa-magnifying-glass {



     margin-left: 10px;

 }



 /* content style start */

 .one-list .one-item:hover {


     border-bottom: solid orange;


     color: orange;


 }

 .one-heading {}

 .one-list .one-item {

     font: 16px sans-serif;


 }


 .b-hover {}


 .list-style {

     list-style: none;
 }

 .list-style-f {

     list-style: none;
 }


 .list-style:hover {

     color: orange;

 }

 /* content styles end */


 /* footer start */

 .f-items {

     font-size: small;

     font-weight: 400;


 }


 



 /* footer end */